<!doctype html>
<html lang="en">

<!--Head tag goes here -->
<%- include('./../templates/head.ejs'); %>

    <body>
        <!-- Header goes here -->
        <%- include('./../templates/navbar.ejs'); %>

        <!-- Actual body goes here -->
        <div class="container">
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Authenticate</h4>
                  <h6 class="card-subtitle mb-2 text-muted"></h6>
                  <p class="card-text"></p>
                  <a href="#" class="card-link">T&amp;C</a>
                  <a href="#" class="card-link">Privacy Policy</a>
                </div>
              </div>
        </div>
        <!-- Actual body ends here-->

        <!-- Footer goes here --> 
        <%- include('./../templates/footer.ejs'); %>
    </body>

</html>