<!doctype html>
<html lang="en">

<script>
    /*
        Accepts user credentials and sends it for creating user account
     */
    function signup_submit(){
        
        event.preventDefault();

        var ajaxRequest = ajaxFunction();

        // Currently there are no validations in place, but we will be introducing some as and when we go
        var first_name = document.getElementById("first_name").value;
        var last_name = document.getElementById("last_name").value;
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;

        var formdata = new FormData();
		formdata.append("first_name", first_name);
		formdata.append("last_name", last_name);
		formdata.append("email", email);
		formdata.append("password", password);
        
        // Post processing after response from server
        ajaxRequest.onreadystatechange = function (){
            if(ajaxRequest.readyState == 4 && ajaxRequest.status == 200){
				var response = JSON.parse(ajaxRequest.responseText);
				if(response.status === "success") {
                    setTimeout(function(){window.location = "http://localhost:3000/dashboard/user";},2000);
                }else{
                    console.error(ajaxRequest.responseText);
                }
            }
        }

        send_request(ajaxRequest, "post", "http://localhost:3000/signup/submit", formdata);
    }
</script>

<!--Head tag goes here -->
<%- include('./../templates/head.ejs'); %>

    <body>
        <!-- Header goes here -->
        <%- include('./../templates/navbar.ejs'); %>

            <!-- Actual body goes here -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Sign Up</h4>
                                <form class="signup_form">
                                    <label class="control-label" for="first_name">First Name:</label>
                                    <input type="text" class="form-control input-sm" id="first_name" />
                                    <label class="control-label" for="last_name">Last Name:</label>
                                    <input type="text" class="form-control input-sm" id="last_name" />
                                    <label class="control-label" for="email">Email:</label>
                                    <input type="text" class="form-control input-sm" id="email" />
                                    <label class="control-label" for="email">Password:</label>
                                    <input type="password" class="form-control input-sm" id="password" />
                                    <br />
                                    <div class="text-center">
                                        <button class="btn form-control btn-success" onclick="signup_submit();">Get Started</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
            <!-- Actual body ends here-->

            <!-- Footer goes here -->
            <%- include('./../templates/footer.ejs'); %>
    </body>

</html>