<!doctype html>
<html lang="en">

<!--Head tag goes here -->
<%- include('./../templates/head.ejs'); %>

    <body>
        <!-- Header goes here -->
        <%- include('./../templates/navbar.ejs'); %>

        <!-- Actual body goes here -->
        <div class="container">
        </div>
        <!-- Actual body ends here-->

        <!-- Footer goes here --> 
        <%- include('./../templates/footer.ejs'); %>
    </body>

</html>